 {{> header}}
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>domain</th>
    </tr>
  </thead>
  <tbody>
    {{#each rows}}
      <tr>
        <th scope="row">{{id}}</th>
        <td>{{name}}</td>
        <td><i class="fa fa-pencil" aria-hidden="true"></i><i class="fa fa-trash" aria-hidden="true"></i></td>
      </tr>
    {{/each}}
  </tbody>
</table>
<form action="" method="post">
  <div class="form-group">
  <label for="POST-domain">Domain:</label>
  <input id="POST-domain" type="text" name="domain">
  <input type="submit" value="Save">
</div>
</form>
<div class="addButton">
  <button type="button" class="btn btn-primary">Add Domain</button>
</div>
{{> footer}}
