{{> header}}
{{> navbar}}
<div class="jumbotron">
  <h1 class="display-3">Postfix Node</h1>
  <p class="lead">Confg all your email addresses, domains and alias</p>
  <hr class="my-4">
  <p>Some Statistics</p>
</div>
{{> footer}}
